{% extends 'base.html.twig' %}

{% block title %}Dashboard
{% endblock %}
{% block header %}
Dashboard
{% endblock %}
{% block body %}
<div class="row">
	<div class="col-lg-3 col-6">

		<div class="small-box bg-info">
			<div class="inner">
				<h3>150</h3>
				<p>Employés</p>
			</div>
			<div class="icon">
				<i class="ion ion-bag"></i>
			</div>
			<a href="{{ path('app_employee_index') }}" class="small-box-footer">Plus d'info <i
					class="fas fa-arrow-circle-right"></i></a>
		</div>
	</div>

	<div class="col-lg-3 col-6">
		<div class="small-box bg-warning">
			<div class="inner">
				<h3>€2500</h3>
				<p>Salaire moyen</p>
			</div>
			<div class="icon">
				<i class="ion ion-pie-graph"></i>
			</div>
			<a href="{{path('employee_category_index')}}" class="small-box-footer">Plus d'info <i
					class="fas fa-arrow-circle-right"></i></a>
		</div>
	</div>

	<div class="col-lg-3 col-6">

		<div class="small-box bg-success">
			<div class="inner">
				<h3>4</h3>
				<p>Départements</p>
			</div>
			<div class="icon">
				<i class="ion ion-stats-bars"></i>
			</div>
			<a href="{{path('app_departments_index')}}" class="small-box-footer">Plus d'info <i
					class="fas fa-arrow-circle-right"></i></a>
		</div>
	</div>

	<div class="col-lg-3 col-6">

		<div class="small-box bg-danger">
			<div class="inner">
				<h3>5</h3>
				<p>Clients</p>
			</div>
			<div class="icon">
				<i class="ion ion-person-add"></i>
			</div>
			<a href="{{path('app_customers_index')}}" class="small-box-footer">Plus d'info <i
					class="fas fa-arrow-circle-right"></i></a>
		</div>
	</div>



</div>
{% endblock %}