{% form_theme form 'bootstrap_5_layout.html.twig' %}
<div class="mt-2 shadow-sm border p-3 bg-white">
	{{ form_start(form) }}
	{{ form_widget(form) }}
	<div class="form-group">
		<button type="submit" class="btn btn-success w-100">
			<i class="fa-solid fa-calendar-check"></i>
			Valider</button>
	</div>
	{{ form_end(form) }}
</div>
