{% extends 'base.html.twig' %}

{% block title %}New Employee{% endblock %}
{% block header %}Créer un employé{% endblock %}
{% block body %}

    {{ include('employee/_form.html.twig') }}

    <a href="{{ path('app_employee_index') }}">back to list</a>
{% endblock %}
