<div id="cardEventEdit" class="card">
	<div class="card-header">
		<h5 class=" text-secondary"><i class="fa fa-edit"></i>Modifier</h5>
	</div>
	<div class="card-body">
		<input id="eventTitleInput" class="form-control form-control-sm mb-2" name="title" type="text"
			placeholder="Titre" data-toggle="tooltip" data-placement="right" title="Titre de l'évenement">
		<input id="eventStartInput" class="form-control form-control-sm mb-2" name="start" type="datetime-local"
			data-toggle="tooltip" data-placement="right" title="Début de l'évenement" />
		<input id="eventEndInput" class="form-control form-control-sm mb-2" name="end" type="datetime-local"
			data-toggle="tooltip" data-placement="right" title="Fin de l'évenement" />
		<div class="row">
			<div class="col-md-8"><input id="eventColorInput" class="form-control form-control-sm mb-2 color-palette"
					name="color" type="color" placeholder="Titre" data-toggle="tooltip" data-placement="right"
					title="Couleur (évenement)"></div>
			<div class="col"><input id="eventTextColorInput" class="form-control form-control-sm mb-2 color-palette"
					name="textColor" type="color" placeholder="Titre" data-toggle="tooltip" data-placement="right"
					title="Couleur (texte)"></div>
		</div>


		<input id="eventAllDayInput" name="allDay" type="hidden" />
		<input id="eventIdInput" name="id" type="hidden" />
		<hr>
		<div class="" style="display: flex; justify-content: space-between;">
			<button id="editEventBtn" type="button" class="btn btn-success btn-sm"><i
					class="fas fa-check mr-1"></i>Sauvegarder</button>
			<div>
				<button id="removeEventBtn" type="button" class="btn btn-danger btn-sm"><i
						class="fas fa-trash"></i></button>
				<button id="shareEventBtn" type="button" data-toggle="modal" data-target="#modal-default"
					class="btn btn-secondary btn-sm"><i class="fas fa-share"></i></button>
			</div>
		</div>
	</div>
</div>