<form method="post" action="{{ path('planning_share') }}">
    <div class="modal fade" id="modal-default" style="display: none;" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Partager avec d'autres utilisateurs</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="planningId" id="planningIdInput" />
                    <div class="form-group">
                        <select name="users[]" class="share-with form-control" multiple="multiple"
                            data-placeholder="Ex: user@email.com" style="width: 100%;">
                            {% for user in users %}
                                <option value="{{ user.id }}">{{ user.email }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-secondary btn-sm">Partager</button>
                </div>
            </div>
        </div>
    </div>
</form>